.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include respond('xs') {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .language {
    align-items: center;
    display: flex;
    margin-right: 4rem;

    @include respond('xs') {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    &__title {
      @include text();
    }

    &__select {
      width: 15rem;
      margin-left: 3rem;

      &__control {
        border: none;
        box-shadow: 1px 2px 2px rgba($color-black, 0.1);
      }

      &__indicator-separator {
        display: none;
      }

      &__single-value {
        @include text();
      }

      &__menu {
        margin: 0;
        padding: 0 !important;

        &-list {
          padding: 0 !important;
        }
      }
    }
  }
}
