@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
