// Colors
$color-dark: #20252d;
$color-white: #fff;
$color-black: #000;
$color-primary: #00bfaa;
$color-grey: #eef0f2;
$color-text: #4a4a4a;

//Fonts
$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;

$main-font: "OpenSans", sans-serif;
